.App {
  text-align: center;
}

nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(124, 131, 131);
  min-height: 10vh;
}

.links {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.links li {
  margin: 0 1rem;
}

.links li:hover {
  cursor: pointer;
}
.cards {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 90%;
  height: auto;
  margin: 1rem;
  border: 1px solid red;
}
.imgUrl {
  padding: 1rem;
  width: 15rem;
  height: auto;
}
